*{
    /* border: 2px solid red; */
    text-align: center;
}
body{
    margin: 0 auto;
    text-align: center;
    background-image: url(./111.jpg);
}
main{
    /* display: inline-block; */
    width: 80%;
    height: 500px;
    margin: 0 auto;
    max-width: 1500px;
    /* min-width: 400px; */
    background-color: rgba(255, 255, 255, 0.648);
}
#button-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#button-container2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

#bbt{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    display: inline-flexbox;
}
p{
    font-family:   sans-serif;
}
#feed ,#drink ,#play ,#sleep {
    border-radius: 50%;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(122, 233, 66);
}
#feed:hover{
    color: bisque;
}
#drink:hover{
    color: bisque;
}
#play:hover{
    color: bisque;
}
#sleep:hover{
    color: bisque;
}
#img-container{
    width: 49%;
    height: 45%;
    z-index: 2;

}

#buttonss{
    width: 50%;
    height: 50%;
    margin-left: 50%;
    margin-top: -25%;
    font-size: 20px;
}