* {
    box-sizing: border-box;
   

}

body{
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;


}

.header{
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;
}

.photo{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    flex-wrap: wrap;
    padding: 17px;
    gap: 15px;
    margin: 0 auto;

}

.photo img{
    width: 100%;
    height: 300px;
    border-radius: 10%;
    max-width: 350px;
    object-fit: cover;
   
    
    
}

.photo::after{
    width: 350px;
    content: "";
}

/* display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: center;
margin: 0 auto;
max-width: 1400px;
gap: 16px;
padding: 20px 10px; */

/* .photo::after{
    content: "";
    width: 350px; */
 